<mat-toolbar class="title-bar">
    <span><img class="toolbarElement" src="../assets/FarSpace832c.png" alt="FarSpace832c" height="50px" /></span>
    <span><a class="toolbarElement" routerLink="/home" routerLinkActive="active" id="homeLink">Home</a></span>
    <span><a class="toolbarElement" routerLink="/project" routerLinkActive="active" id="projectLink">Project</a></span>
    <span><a class="toolbarElement" routerLink="/howtoplay" routerLinkActive="active" id="howToPlayLink">How To Play</a></span>
    <span class="filler"></span>
    <span class="account"><button id="connectButton">Connect</button></span>
</mat-toolbar>
<div class="footer-separator title-bar inactive"></div>
