a {
    color: white;
    text-decoration: none;
    font-size: 2em;
}

a:visited {
    color: white;
    text-decoration: none;
}

a.active {
    text-decoration: underline;
}

span {
    margin-right: 10px;
}

span.filler {
    flex: 1 1 auto;
}

div.footer-separator {
    width: 100%;
    margin: 0px;
    padding: 0px;
    height: 5px;
}