div.footer-separator {
    width: 100%;
    margin: 0px;
    padding: 0px;
    height: 30px;
}

footer {
    display: grid;
    grid-template-areas:"desc team link cont"
                        "cop cop cop cop";
    grid-template-columns: 25% 25% 25% 25%;
    align-items: flex-start;
}

div.footer-element {
    color: white;
    padding: 30px;
    font-size: 1.5em;
}

div.links-container {
    text-align: center;
}

p.footer-title {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
}

div.footer-desc {
    grid-area: desc;
}

div.footer-team {
    grid-area: team;
}

div.footer-links {
    grid-area: link;
}

div.footer-contact {
    grid-area: cont;
}

div.footer-copyright {
    grid-area: cop;
    text-align: center;
}