div.separator {
    width: 100%;
    height: 50px;
}

footer {
    display: grid;
    grid-template-areas:"desc team link cont"
                        "cop cop cop cop";
}

div.footer-desc {
    grid-area: desc;
}

div.footer-team {
    grid-area: team;
}

div.footer-links {
    grid-area: link;
}

div.footer-contact {
    grid-area: cont;
}

div.footer-copyright {
    grid-area: cop;
    text-align: center;
}