<div id="mainContainer"
    [ngStyle]="{'background-image': 'url(./assets/clouds.png)','background-size': 'cover','background-repeat': 'no-repeat', 'background-position': 'center'}">
    <div class="window" id="gameWindow">
        <div class="title-bar">
            <div class="title-bar-text">FarSpace832c.exe</div>
            <div class="title-bar-controls">
                <button aria-label="Minimize"></button>
                <button aria-label="Maximize" (click)="fullscreen()"></button>
                <button aria-label="Close"></button>
            </div>
        </div>
        <div class="window-body" id="gameWindowBody">
            <canvas #gameCanvas id="gameCanvas">Your browser doesn't support the canvas HTML
                element. Please update it if you want to play!</canvas>
        </div>
    </div>
</div>
