<div class="wrapper"
    [ngStyle]="{'background-image': 'url(./assets/clouds.png)','background-size': 'cover','background-repeat': 'no-repeat', 'background-position': 'center'}">
    <div id="presentationContainer" class="one">
        <div class="window">
            <div class="title-bar">
                <div class="title-bar-text">introduction.exe</div>
                <div class="title-bar-controls">
                    <button aria-label="Minimize"></button>
                    <button aria-label="Maximize"></button>
                    <button aria-label="Close"></button>
                </div>
            </div>
            <div class="project-text">
                <p>
                    FarSpace832c is a serious game, you may wanna know what is a serious game so here is a description :
                    The goal of a serious game isn't only the fun that it provides to players there is also a will to
                    teach or deliver a message to the player.
                    This type of game was really popular in the 90's even if it was firstly created in 1980 with the
                    realese of the first games.
                </p>
            </div>
        </div>
    </div>

    <div id="imageContainer" class="two">
        <div class="window">
            <div class="title-bar">
                <div class="title-bar-text">image.exe</div>
                <div class="title-bar-controls">
                    <button aria-label="Minimize"></button>
                    <button aria-label="Maximize"></button>
                    <button aria-label="Close"></button>
                </div>
            </div>
            <div class="project-image">
                <img src="../assets/ciriousAffiche2.png" alt="image from presentation's power point" class="pres" />
            </div>
        </div>
    </div>

    <div id="projectContainer" class="three">
        <div class="window">
            <div class="title-bar">
                <div class="title-bar-text">project.exe</div>
                <div class="title-bar-controls">
                    <button aria-label="Minimize"></button>
                    <button aria-label="Maximize"></button>
                    <button aria-label="Close"></button>
                </div>
            </div>
            <div class="project-text">
                <p>
                    Our goal for this project is to allow the player to learn about space exploration and space
                    colonisation. We decided to create a fast fps
                    combined with a mangement game. The fast fps will be about killing alien on the new planet where you
                    land. And the management will be
                    the part where you create your own base and you upragde it. By doing so we hope players would be
                    able to learn what's needed on a new planet
                    to prepare a human colonisation.
                </p>
            </div>
        </div>
    </div>

    <div id="screenshotContainer" class="four">
        <div class="window">
            <div class="title-bar">
                <div class="title-bar-text">screenshot.exe</div>
                <div class="title-bar-controls">
                    <button aria-label="Minimize"></button>
                    <button aria-label="Maximize"></button>
                    <button aria-label="Close"></button>
                </div>
            </div>
            <div class="project-image">
                <img src="../assets/gestion.png" alt="image showing an exemple of a base created in game" class="base">
            </div>
        </div>
    </div>
</div>
