<div class="wrapper"
    [ngStyle]="{'background-image': 'url(./assets/clouds.png)','background-size': 'cover','background-repeat': 'no-repeat', 'background-position': 'center'}">
    <div id="previewContainer" class="one">
        <div class="window">
            <div class="title-bar">
                <div class="title-bar-text">preview.exe((image scindée du jeu dans les 2 mode)</div>
                <div class="title-bar-controls">
                    <button aria-label="Minimize"></button>
                    <button aria-label="Maximize"></button>
                    <button aria-label="Close"></button>
                </div>
            </div>
            <div class="project-image">
                <img src="../assets/ciriousAffiche2.png" alt="image from presentation's power point" class="pres">
            </div>
        </div>
    </div>

    <div id="controlsContainer" class="two">
        <div class="window">
            <div class="title-bar">
                <div class="title-bar-text">controls.exe</div>
                <div class="title-bar-controls">
                    <button aria-label="Minimize"></button>
                    <button aria-label="Maximize"></button>
                    <button aria-label="Close"></button>
                </div>
            </div>
            <div id=controls>
                <div class="controls_img"><img class="controls_img" src="../assets/zqsd.png" alt="zqsd" /></div>
                <p class="controls_text"> Moving around</p>
                <div class="controls_img"><img class="controls_img" src="../assets/leftClick.png" alt="mouse"
                        class="controls_img" /></div>
                <p class="controls_text"> Shoot </p>
                <div class="controls_img"><img class="controls_img" src="../assets/touchedirectionelle.jpg" alt="arrows"
                        class="controls_img"></div>
                <p class="controls_text"> Move the Camera</p>
                <div class="controls_img"><img class="controls_img" src="../assets/zqsd.png" alt="zqsd"
                        class="controls_img"></div>
                <p class="controls_text">ect...</p>
            </div>
        </div>
    </div>

    <div id="gameplaySummaryContainer" class="three">
        <div class="window">
            <div class="title-bar">
                <div class="title-bar-text">gameplaySummary.exe</div>
                <div class="title-bar-controls">
                    <button aria-label="Minimize"></button>
                    <button aria-label="Maximize"></button>
                    <button aria-label="Close"></button>
                </div>
            </div>
            <div class="project-text">
                <p>
                    FarSpace832c is a first person shooter game that will make you learn a whole lot of things about the colonization of exoplanets. 
                    Based on scientific reports, this game invites you to explore the current possibilities of the space conquest. 
                    Your robot has arrived on Gliese 832 C, an explonet considered to be 81% "like Earth". 
                    Your mission: gather the resources that are required in order to develop a human colony, in view of the arrival of human settlers. 
                    In order not to get bored, your robot is going to simulate live action phases as he is collecting resources crates. 
                    It is up to you to come to the end and build your base !
                </p>
            </div>
        </div>
    </div>
</div>
