div.container {
    min-height: 80%;
}

div#registerWindow {
    width: 25%;
    margin: auto;
    min-width: 300px;
}

form#registerForm {
    margin:auto;
}

input#registerEmail, input#registerPassword, input#registerPassword2, input#registerUsername {
    margin-top: 10px;
}

mat-form-field {
    width: 100%;
}
