<div class="container" 
    [ngStyle]="{'background-image': 'url(./assets/clouds.png)','background-size': 'cover','background-repeat': 'no-repeat', 'background-position': 'center'}">
    <div id="registerWindow" class="window">
        <div class="title-bar">
            <div class="title-bar-text">Register_Form.exe</div>
            <div class="title-bar-controls">
                <button aria-label="Minimize"></button>
                <button aria-label="Maximize"></button>
                <button aria-label="Close"></button>
            </div>
        </div>
        <div class="window-body">
            <form (ngSubmit)="onSubmit()" id="registerForm" [formGroup]="form">
                <mat-form-field appearance="outline">
                    <mat-label>Enter your email</mat-label>
                    <input matInput placeholder="john.carmack@id-software.com" 
                        type="email" 
                        class="form-control" 
                        id="registerEmail" 
                        formControlName="email"
                        required>
                    <mat-error *ngIf="email.invalid">{{getEmailErrorMessage()}}</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Enter your password</mat-label>
                    <input matInput
                    [type]="hide ? 'password' : 'text'"
                    class="form-control" 
                    id="registerPassword"
                    formControlName="password"
                    required>
                    <button mat-icon-button matSuffix (click)="hide = !hide" type="button" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" #togglePassword>
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error *ngIf="password.invalid">{{getPasswordErrorMessage()}}</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Verify your password</mat-label>
                    <input matInput
                    [type]="hide2 ? 'password' : 'text'"
                    class="form-control" 
                    id="registerPassword2"
                    formControlName="password2"
                    required>
                    <button mat-icon-button matSuffix (click)="hide2 = !hide2" type="button" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide2" #togglePassword2>
                        <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error *ngIf="password2.invalid">{{getPassword2ErrorMessage()}}</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Enter your username</mat-label>
                    <input matInput placeholder="Xiae" 
                        type="text" 
                        class="form-control" 
                        id="registerUsername" 
                        formControlName="username"
                        required>
                    <mat-error *ngIf="username.invalid">{{getUsernameErrorMessage()}}</mat-error>
                </mat-form-field>
                <button class="buttonRegister" type="submit" [disabled]="!form.valid">Register</button>
            </form>
        </div>
    </div>
</div>
